// #191105 near black
// #786D59 brown
// #8EC5B2 green
// #3f90a1 turquoise
// #FFEFD9 cream
// #cebba3 beige
// #FAC26D orange
// #E65D4B red

@import "lib/bourbon/bourbon";
@import "lib/bitters/bitters";
@import "lib/neat/neat";

//utilities
/* re-usable css objects */
.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr; 
  br{
	display: none;
  }
}

.hidden { display: none !important; visibility: hidden; }

html.js .hide-js { display: none !important; visibility: hidden; }
.hide-no-js { display: none !important; visibility: hidden; }
html.js .hide-no-js { display: block !important; visibility: visible; }

.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }

%horizontal-navigation{
   li{float:left}
}

.clear{clear:both}

.float-right{float:right;clear:both}
.float-left{float:left;clear:both}

.break-word {word-wrap: break-word;}

//typography
@font-face {
  font-family: 'trinigan_fgregular';
  src: url('../fonts/trinigan-webfont.eot');
  src: url('../fonts/trinigan-webfont.eot?#iefix') format('embedded-opentype'),
	   url('../fonts/trinigan-webfont.woff') format('woff'),
	   url('../fonts/trinigan-webfont.ttf') format('truetype'),
	   url('../fonts/trinigan-webfont.svg#trinigan_fgregular') format('svg');
  font-weight: normal;
  font-style: normal;
}



%brand-font{
	font-family: 'trinigan_fgregular';
}

h1, h2, h3, h4{
	margin-bottom:0.5em;
	@extend %brand-font;
	text-align: center;
	color:#191105;
	font-weight: bold;
}

h2{
	font-size: 2.5em;
	padding-bottom:.4em;
	background: url(../img/h1-border.png) bottom center no-repeat;
}

.small{font-size: 0.8em}
.label{font-weight: bold}
.validation-msg, .rsvp-msg{font-weight: bold; color: #E65D4B}
.required{font-size: 0.8em;color: #E65D4B}
.dresscode{@extend %brand-font;color:#3f90a1;font-size:1.6em; line-height:1.2em;text-align: center; }

a{
	color: #191105;
	font-weight: bold;
}

.btn{
	border: 1px solid #2459a6;
	border-radius: 5px;
	box-shadow: inset 0 1px 0 0 #89a8d5;
	color: white;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	background-color: #477dca;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #477dca), color-stop(100%, #2760b2));
	background-image: -webkit-linear-gradient(#477dca, #2760b2);
	background-image: linear-gradient(#477dca, #2760b2);
	padding: 5px 12px;
	text-decoration: none;
	text-shadow: 0 1px 0 #1b4f9a;
	background-clip: padding-box;

	&:hover, &:focus{
		color:#fff;
	}
}

//buttons
button, input[type="submit"], .btn {
	@include linear-gradient(to top, #82c0cd, #3f90a1);
	border: 1px solid #3f90a1;
	box-shadow: 0 1px 0 0 #82c0cd inset;
	border-radius: 15px;
}


//structure
body{ 
	color: #786D59;
	background:#cebba3 ;
	padding:0;
	margin: 0;
}

.content-section{
	padding-bottom:3em;
	width:377px;
	margin:0 auto;
}

.rsvp-section{
	padding:50px;
	table{
		border-top:1px solid #786D59;
		border-left:1px solid #786D59;
	}
	td,th{
		background: #FFEFD9;
		border-color:#786D59;
		text-align: center;
		border-right:1px solid #786D59;
		padding:.5em;
	}
	td{
		background: #fff;
	}
}
//outer shell
%outer-shell{
	@include outer-container;
	*zoom: 1;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  @include clearfix;
  padding:0;
}

//grid structure
.main-content{
	@extend %outer-shell;
}

.content-shim{
	background: #FFEFD9 url(../img/banner-shim.png) center top repeat-y;
	background-size:768px 18px;
}

.content-inner{
	background: url(../img/banner.png) center top no-repeat;
	background-size:768px 614px;
	padding-top:100px;
}

//navigation
.navigation{
	padding-left:24px;
	padding-bottom: 9px;
	background: url(../img/nav-banner-left.png) 0 0 no-repeat;
	background-size: 54px 76px;
	@extend %outer-shell;
	text-align: center;
	.nav-shim{
		padding-bottom: 20px;
		padding-right: 24px;
		background-size: 54px 76px;
		background: url(../img/nav-banner-right.png) right -1px no-repeat;
	}
	ul{
		position: relative;
		top:15px;
		margin-top:.5em;
		border:1px solid #191105;   
		background: #FFEFD9;

	}
	li{
		display: inline;
	}
	a{
		color:#191105;
		display: inline-block;
		padding:10px 5px;
		font-weight: bold;
	}
	.active a, .active.rsvp a{
		color:#3f90a1;
	}
	.rsvp a{
		color:#E65D4B;
	}
}

//forms
.form-row{
	margin: 0 0 2em 0;
	.small{margin-top:-0.5em;}
}

.form-section{
	margin-top:2.5em;
}
.btn-row{
	text-align: center;
}

//invitation
.invitation-design{
	margin:0 auto;
	width:377px;
}

.invitation-img{
	background:url(../img/invitation.png) 0 0 no-repeat; 
	width:377px;
	height:653px;
}

//map
.map-canvas{
	width:377px;
	height:377px;
	img{
		max-width:none;
	}
}

.info-window{
	width:250px;
}

//directions 
.directions-list li{
	margin-bottom:.5em;
}

//footer
.footer{
	background: #786D59 url(../img/footer-top.png) 0 0 no-repeat;
	text-align: center;
	background-size: 768px 68px;
	padding:18px 1.5em 0;
	color:#fff;
	@extend %outer-shell;
	a{
		color:#fff;
	}
}

//fouc - hide with CSS to begin with
.js .sorry-msg{
	display: none;
}

.js .validation-msg{
	display: none;
}


//mobile view

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 767px) {
	body{
		background: #FFEFD9;
	}

	%outer-shell{
		max-width:100%;
	}
	.content-shim{
		background: none;
	}

	.content-inner{
		background: none;
		padding:10px;
	}

	.map-canvas{
		width:300px;
		height:300px;
	}
	
	.invitation-design{
		width:300px;
		height:520px;
	}

	.invitation-img{
		width:300px;
		height:520px;
		background-size: 300px 520px;
	}

	.content-section{
		width:300px;
		padding-bottom: 30px;
	}	

	.navigation{
		background: none;
		border:0;
		padding:0;
		margin-bottom:10px;
		.nav-shim{
			background: none;
			padding:0;
		}
		ul{
			border:0;
			top:0;
			margin: 0;
		}
		li{
			display: block;
			border-bottom:1px solid #fff;
		}
		a{
			display: block;
			background-color:#786D59;
			color:#fff;
			&:hover, &:focus{
				background-color: #3f90a1;
			}
		}

		.active a, .active.rsvp a{
			color:#fff;
			background-color: #3f90a1;
		}
		.rsvp a{
			color: #fff;
			background-color:#E65D4B;
			&:hover, &:focus{
				background-color: #3f90a1;
			}
		}
	}

	.footer{
		background: #191105;
		margin:0;
		padding:20px;
	}

	h1, h2{
//		background: none;
	}
}