<% layout('../layout') -%>

<div class="invitation-design">

	<img src="img/invitation.png">
<!-- <div class="couple">
	<span class="adam">Adam Preece</span> 
	<span class="ampersand">and</span> 
	<span class="mairead">Mairead Buchan</span>
</div>
<div class="invitation-invite">
	<span class="invite">would like to invite you</span> 
</div>
<div class="invitation-tea">
	<span class="tea">to take tea</span>  
	<span class="lawn">on the lawn</span> 
</div>
<div class="invitation-date">
	<span class="datetime-start">Saturday 16th May </span> 
	<span class="datetime-delimeter">-</span>  
	<span class="datetime-end">Sunday 18th May</span> 
</div>
<div class="invitation-venue">
	<span class="venue">The wedding will take place at Stowford Manor Farm</span> 
</div>
<div class="invitation-rsvp">	
	<span class="rsvp-by">Please RSVP by Feb 14th</span> 
</div>
<div class="dress-code">	
	<span class="dress-code-title">Dress code </span> 
	<span class="dress-details">Something old, something new, something borrowed, something blue.</span> 
</div> -->

</div>

<div class="content-section">
	<h2>Details</h2>
	<p>Adam and Mairead would like to invite you to take tea on the lawn on the weekend of May 16th 2014 to celebrate their marriage. The ceremony will take place at Stowford Manor Farm in Wiltshire on Saturday 17th May at 1.30pm but we are planning to stay for the whole weekend.</p>
</div>

<div class="content-section">
	<h2>The venue</h2>
	<p>Camping accommodation will be available both Friday and Saturday night at Stowford Manor. The campsite has electricity points for live-in vehicles.</p>

	<p>The venue has a central courtyard with a shower block, toilets and washing up facilities to one side and a covered Barn to the other side providing a solid roof in the event of rain.</p>

	<p>Behind the Bed and Breakfast rooms is a lawn and patio where we will be holding the ceremony. The river Frome runs through the lawn. If you’re bringing small children please be aware there is open water here.</p> 

	<p>We will be erecting a small Marquee with a tea urn and solid flooring in the camping field to provide more shelter against the British weather. There will be proper seating for 100 people as well as hay bales for the other 50 guests.</p>
</div>
<div class="content-section">
	<h2>Directions</h2>


	map

	by train
	by motorway

	taxi numbers
</div>