<% layout('../layout') -%>



<div class="content-section">
	<h2>Come prepared</h2>
	<p>Throughout the weekend we will be providing wine, beer, cider, cocktails, tea and soft drinks, BBQ food on friday night, late lunch on Saturday afternoon and light food on Saturday evening. I imagine there will be plenty of leftovers for breakfast on Sunday morning too. </p>

	<p>There is no license on site and you are welcome to bring whatever alcohol or food you would like. In fact we encourage it, especially if you are planning to stay for the whole weekend. We definitely think you will need a big breakfast on Saturday morning as there won't be any lunch till 4pm.</p>

	<p>If you’re planning to come for BBQ on Friday night please feel free to bring your own tasty meats but we will provide the Barbeque itself and a mountain of sausages as well.</p>
</div>

<div class="content-section">
	<h2>Places to eat</h2>
	<p>The Lock Inn cafe - Just basic greasy spoon food but amazing surroundings. You can even eat inside a moored canal boat on the canal</p>
</div>

<div class="content-section">
	<h2>Supermarkets</h2>
	<p>If you need provisions there is a big Sainsburys on the road from Bradford on Avon towards the campsite. If you're coming on foot you could probably walk here to stock up and then grab a cab to the venue.</p>
</div>
