<% layout('../layout') -%>

<h2>The weekend plans</h2>
<p>You are welcome to arrive any time from 4pm on Friday 16th. We will be occupied until 5pm with decorating but you’re welcome to come and make yourselves at home whilst we set everything up. On Friday evening there will be BBQ food prepared from 6pm and entertainment from 7pm in the Barn. </p>

<p>If you are planning to stay over Friday night you have a choice of a cooked breakfast with the groom in the Poplar (the local pub) or cake and gossip with the Bride in the Marquee, both are at 11am Saturday morning. There are only 18 places available for cooked breakfast in the Poplar and these will be allocated on a first come first served basis so RSVP quick if you're interested.</p>

<p>The ceremony starts at 1.30pm on Saturday, afterwards there will be speeches and fizzy wine to toast, followed by food in the marquee around 4pm. Then there will be cocktails at 6pm, and finally dancing in the Barn at 7.30pm. The wedding finishes at midnight.</p>

<p>Sunday you are welcome to stay for tea and cake and leftovers whilst we take down the decorations and do the washing up. I think we are expected to leave by early evening but there is no hurry to get off site. Any help on Sunday to make the drudgery more bearable would be gratefully received.</p>

<h2>Things you can bring</h2>
<p>If you like baking please bring cake. We will provide a multitudinous variety of tea and milk to aid in consumption. Bring your own tea cup too.</p>

<p>We will be providing hay bales for seating in some areas. If you own a picnic blanket please bring one. They are much more comfortable to sit on when covered.</p>

<p>If you are camping you will obviously need a tent and camping gear to sleep in. There is a real toilet and shower on site and a washing up area. The camping is as luxurious as we can make it.</p>

<p>Although much of the venue is concrete underfoot you might want to bring wellies and/or sensible footwear. In the event of rain the walkway between the marquee and toilet block may become muddied but mostly we will be on solid ground.</p>

<h2>Dress code</h2>
<p>Something old, something new, something borrowed, something blue. </p>

<p>If the thought of costume fills you with dread please don’t overly concern yourself. We are far more interested in the pleasure of your company than the clothes on your back. You might want to make a nod to the concept, perhaps a blue handkerchief in your pocket or a flower in your hair. </p>

<p>If on the other hand you delight in the ridiculous we would ask you to fully embrace this. Don’t hold back, we aren’t planning to. We will be judging you as we see fit and awarding a gift to the best dressed individual. No pressure.</p>