<% layout('../layout') -%>

<div class="content-section">
	<h2>The weekend plans</h2>
	<p>You are welcome to arrive any time from 4pm on Friday 16th. We will be occupied until 5pm with decorating but you’re welcome to come and make yourselves at home in the campsite whilst we set everything up. On Friday evening there will be BBQ food prepared from 6pm and entertainment from 7pm in the Barn. </p>

	<p>If you are planning to stay over Friday night you have a choice of a cooked breakfast with the groom in the Poplar (the local pub) or cake and gossip with the bride in the marquee. Both are at 11am, Saturday morning. There are only 18 places available for cooked breakfast in the Poplar and these will be allocated on a first come first served basis so <a href="/rsvp">RSVP</a> quick if you're interested.</p>

	<p>The ceremony starts at 1.30pm on Saturday, afterwards there will be speeches and fizzy wine to toast, followed by food in the marquee around 3pm. Cocktail hour is at 5pm, and finally there will be dancing in the Barn from 7.30pm. The wedding finishes at midnight.</p>

	<p>On Sunday you are welcome to stay for tea and cake and leftovers whilst we take down the decorations and do the washing up. I think we are expected to leave by the afternoon but there is no hurry to get off site. Any help on Sunday to make the drudgery more bearable would be gratefully received.</p>
</div>

<div class="content-section">
	<h2>Things you can bring</h2>
	<p>If you like baking please bring cake. We will provide a multitudinous variety of tea and milk to aid in consumption. Bring your own tea cup too.</p>

	<p>We will be providing hay bales for seating in some areas. If you own a picnic blanket please bring one. They are much more comfortable to sit on when covered.</p>

	<p>If you are camping you will obviously need a tent and camping gear to sleep in. There is a real toilet and shower on site and a washing up area. The camping is as luxurious as we can make it.</p>

	<p>Although much of the venue is concrete underfoot you might want to bring wellies and/or sensible footwear. In the event of rain the walkway between the marquee and toilet block may become muddied but mostly we will be on solid ground. </p>
</div>

<div class="content-section directions-list">
	<h2>Directions</h2>
	<h3>From M4 – London and the South East</h3>
	<ul>
		<li>• Leave the motorway at Junction 17, signposted A350 and A429 to Chippenham and Cirencester</li>
		<li>• At the roundabout, take the second exit on to the A350.</li>
		<li>• Continue on the A350 south, past Chippenham and towards Melksham.</li> 
		<li>• Just before Melksham, and around 15 miles after joining the A350, you will come to a roundabout. Take the third exit, signposted to Bradford-on-Avon, B3107.</li>
		<li>• As you come through Bradford-on-Avon, you will come across a mini roundabout. Carry on straight over the bridge, signposted Trowbridge and Frome.</li>
		<li>• After the bridge, continue straight across the next mini roundabout, signposted Frome B3109.</li>
		<li>• Stay on the Frome Road for about 3 miles, crossing a roundabout, canal and another roundabout.</li>
		<li>• When you arrive at a set of traffic lights, turn right, taking the A366 towards Radstock.</li>
		<li>• Stowford Manor Farm is less than a mile up the road, on the left. If you reach the Hungerford Arms pub or a ruined castle, you’ve gone too far. Come back; we miss you. </li>
	</ul>
</div>
<div class="content-section directions-list">
	<h3>From Bristol, Bath and the South West</h3>
	<ul>
		<li>• From west of Bristol, drive to Bristol</li>
		<li>• From Bristol, drive to Bath along the A4 and A36.</li>
		<li>• In Bath, continue along the A36 – heading towards Warminster.</li> 
		<li>• Around 10 miles after leaving Bath, turn left at the junction, signposted Farleigh Hungerford.</li>
		<li>• You will pass Farleigh Hungerford Castle on the left after about a mile. Stowford Manor Farm is a further half a mile down the road, on the right. If you come to a junction with a set of lights, you’ve gone too far. Come back; we have beer.</li>
	</ul>
</div>
<div class="content-section directions-list">
	<h3>From M5 – The North</h3>
	<ul>
		<li>• Leave the M5 at Junction 15, joining the M4 towards London.</li>
		<li>• Continue along the M4 to Junction 18, signposted A46 to Stroud and Bath.</li>
		<li>• At the roundabout, take the third exit, the A46 to Bath.</li>
		<li>• About 8 miles after joining the A46, you will find yourself inside an odd man-
		made stone canyon. You will then emerge on to a bridge over the Avon. </li>
		<li>• After about 5 miles, you will come across a much smaller bridge (back over the Avon) and to a roundabout. Take the third exit, the A363 to Bradford-on-Avon.</li>
		<li>• As you come through Bradford-on-Avon, you will come across a mini roundabout. Carry on straight over the bridge, signposted Trowbridge and Frome.</li>
		<li>• After the bridge, continue straight across the next mini roundabout, signposted Frome B3109.</li>
		<li>• Stay on the Frome Road for about 3 miles, crossing a roundabout, canal and another roundabout.</li>
		<li>• When you arrive at a set of traffic lights, turn right, taking the A366 towards Radstock.</li>
		<li>• Stowford Manor Farm is less than a mile up the road, on the left. If you reach the Hungerford Arms pub or a ruined castle, you’ve gone too far. Come back; we have sausages.</li>
	</ul>
</div>
<div class="content-section">
	<h2>Getting around</h2>
	<p>The nearest rail link is Bradford-on-Avon. You can get the train direct from London Paddington and Bristol Temple Meads, or you can change in Bath Spa.
	</p>

	<p>In case you don't have transportation here are a couple of taxi numbers.</p>
	<p class="label">Bradford-on-Avon Taxis</p>
	<p>0800 681 6630</p>
	<p class="label">1st County Cars</p>
	<p>01225 352 173</p>
	<p>0800 2980 630</p>

</div>
