<% layout('../layout') -%>

<div class="content-section">
	<h2>We need your help</h2>

	<p>As you may know weddings involve a lot of stuff happening at different times. We haven’t hired staff or a wedding planner either and we can't do it all by ourselves. We would really like your help to make the day go off with a bang.</p> 

	<p>It might be something small like fetching drinks from the fridge at the right time or directing people where to park on arrival, rounding people up for the start of the ceremony or announcing the start of the disco. If you would like to be involved please let us know and we will assign you a job for the day. We have at least 50 different jobs identified so we would really appreciate the help. </p>
</div>

<div class="content-section">
	<h2>The wedding list</h2>
	<p>We don't want you to feel obligated to buy us a gift because we already own everything in the world but if you're determined to exchange money for goods we've put together a list of things we think might come in useful. If they survive the winter floods we're hoping to take our camper van down to the tip of Cornwall so we can visit the Isles of Scilly straight after the wedding.</p>

	<p>Here is an <a href="http://www.amazon.co.uk/registry/wishlist/Y3BPJ2WWATZR/ref=cm_wl_sortbar_o_n_page_2?_encoding=UTF8&page=2"> Amazon wishlist</a> of camping things.</p>

	<p>Alternatively you could donate some money to our honeymoon. We'll stick a donation box somewhere in the marquee. Below is a map with our planned route. If you've been to any of these places and you've got good tips for restaurants, campsites or day trips we'd love to hear them.</p>

	<div class="map-canvas" id="honeymoon-map-canvas"></div> 
</div>


