<% layout('../layout') -%>

<div class="content-section">
	<h2>Thank yous</h2>
	<p>We couldn't have thrown such an amazing party without the help of the following people. They were all brilliant and we couldn't believe our luck because everything worked like magic.</p>
	<p>As well as all our family and friends who pitched in we would also like to thank the following (in no particular order) and encourage you to remember them for future occasions.</p>

	<div class="thankyou-item">
		<h3>Stowford Manor campsite</h3>
		<p>Phil and Cath Bryant who ran the farm and campsite</p>
		<p><a href="http://stowfordmanorfarm.co.uk/">Stowford Manor Farm</a></p>
	</div>
	<div class="thankyou-item">
		<h3>The Mill house Bed and Breakfast</h3>
		<p>Gail and Tony Smith who ran the Bed and Breakfast and put up my beautiful bridal tent.</p>
		<p>
			<a href="http://stowfordmanorfarm.co.uk/index.php/bed-and-breakfast/">The Mill house B&amp;B</a>
		</p>
	</div>
	<div class="thankyou-item">
		<h3>Arch House Deli</h3>
		<p>Debbie Atherton and David Greenman who made all the delicious wedding picnic and evening food</p>
		<p>
			<a href="http://www.archhousedeli.com/">Arch house deli</a>
		</p>
	</div>
	<div class="thankyou-item">
		<h3>Archers Marquees</h3>
		<p>Anthony Dutton and team who set up the wedding marquee</p>
		<p>
			<a href="http://www.archersmarquees.co.uk/">Archers marquees</a>
		</p>
	</div>
	<div class="thankyou-item">
		<h3>Blast event hire</h3>
		<p>Josh Hignell and Paige Pinder who supplied us the chiller, chillboxes, tea urn and ice</p>
		<p>
			<a href="http://www.blasteventhire.co.uk/">Blast event hire</a>
		</p>
	</div>
	<div class="thankyou-item">
		<h3>Hackney Brewery</h3>
		<p>Pete Hills and Jon Swain who supplied all the delicious beer</p>
		<p>
			<a href="http://hackneybrewery.co.uk/">Hackney Brewery</a>
		</p>
	</div>
	<div class="thankyou-item">
		<h3>Orchards cider</h3>
		<p>Keith Orchard who went out of his way to deliver his cider to us</p>
		<p>
			<a href="http://www.orchardsciderandperry.com/">Orchards Cider</a>
		</p>
	</div>
	<div class="thankyou-item">
		<h3>Eva's cafe</h3>
		<p>Who fed our decorating team and provided all the BBQ salad</p>
		<p>
			<a href="http://www.evathecakefairy.co.uk/">Eva the cake fairy</a>
		</p>
	</div>
	<div class="thankyou-item">
		<h3>Bam Bam Sound</h3>
		<p>Simon Duck and Dan Bernstein who rocked the joint</p>
		<p>
			<a href="https://www.facebook.com/bambamsound">Bam Bam sound</a>
		</p>
	</div>
	<div class="thankyou-item">
		<h3>Dubwives</h3>
		<p>Ruth Adams and Rachel Stringer who brought the party (and Miami disco stylings)</p>
		<p>
			<a href="https://www.facebook.com/dubwives">Dub wives</a>
		</p>
	</div>
	<div class="thankyou-item">
		<h3>Awamu</h3>
		<p>Steve Willard and Emma Scullion who worked like trojans to set up our party</p>
		<p>
			<a href="http://awamu.co.uk/">Awamu</a>
		</p>
	</div>
	<div class="thankyou-item">
		<h3>Best lady(ever)</h3>
		<p>Emma Hammond poet extraordinaire who gave the best speech ever</p>
		<p>
			<a href="http://emmahammondwriter.wordpress.com/poetry/">Emma Hammond</a>
		</p>
		<p>	
			<a href="http://emmahammond.blogspot.co.uk/">Unicorn Hoax</a>
		</p>
	</div>
	<div class="thankyou-item">
		<h3>Space Eagle and friends</h3>
		<p>Paul Stanbridge, Jim Fleeting and Drew Price who entertained us all Friday night</p>
		<p>
			<a href="http://space-eagle.com/">Space Eagle</a>
		</p>
		<p>
			<a href="http://jimfleetingguitars.com/">Jim Fleeting Guitars</a>
		</p>
		<p>
			<a href="http://www.drewprice.co.uk/">Drew Price</a>
		</p>
	</div>
	<div class="thankyou-item">
		<h3>The Poplars Inn</h3>
		<p>Who fed the groom and kept him from getting into too much trouble before the ceremony</p>
		<p>
			<a href="http://www.poplarsinn.co.uk/">The Poplars Inn</a>
		</p>
	</div>
</div>