<% layout('../layout') -%>


<div class="content-section">
	<div id="thanks-msg" class="thanks-msg msg">
		<h2>A problem has occurred </h2>
		<p>Sorry, your details haven't been saved. Click RSVP and have another go. </p> 
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
</div>

