<% layout('../layout') -%>

<div id="sorry-msg" class="sorry-msg">
	<div class="content-section">
		<h2>Sorry, </h2>
		We're sorry you can't make it but we hope we can catch up another time.
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
	</div> 
</div>

<div class="content-section">


	<div class="form-questions" id="form-questions">
		<h2>RSVP</h2>
		<p>It would be great if you let us know the answers to the following questions by <span class="rsvp-msg">February 14th</span>. If you don’t, we’ll just keep pestering you on a weekly basis until you do. We have a database. We know who you are. </p>

		<form action="/reply" method="POST" id="form-action">
			<div class="form-section">
				<h2>Your response</h2>
				<div class="form-row">
					<a id="first-question" name="first-question"></a>
					<label>1. Tell us your name(s)? <span class="required">*Required</span></label>
					<p class="small">(If you're replying for more than yourself please can we have everyone's name, including kids, so we can get a head count)</p>
					<p class="validation-msg" id="validation-msg">Please can you tell us your name(s).</p>
					<input type="text" class="text" name="names" id="names"/>
				</div>

				<div class="form-row">
					<p class="label">2. Are you able to attend? <span class="required">*Required</span></p>
					<p class="validation-msg" id="attending-msg">Please can you tell us whether you are able to attend.</p>
					<label>
						<input type="radio" class="radio" name="attending" value="y" id="attending"/>Yes
					</label>
					<label>
						<input type="radio" class="radio" name="attending" value="n" id="notAttending"/>No
					</label>
				</div>

				<div class="form-row">
					<p class="label">3. Are you bringing a live in vehicle?</p>
					<label>
						<input type="radio" class="radio" name="livein" value="y" />Yes
					</label>
					<label>
						<input type="radio" class="radio" name="livein" value="n" />No
					</label>
				</div>
			</div>

			<div class="form-section">
			<h2>Help us</h2>
				<div class="form-row">
					<p class="label">4. Would you like to offer us some help on Saturday?</p>
					<label>
						<input type="radio" class="radio" name="help" value="y" />Yes
					</label>
					<label>
						<input type="radio" class="radio" name="help" value="n" />No
					</label>
					<label>If yes, can you give us a rough idea of when you will be arriving (Day and time)?</label>
					<input type="text" class="text" name="arriving"/>
				</div>
			</div>

			<div class="form-section">
				<h2>Food</h2>

				<div class="form-row">
					<p class="label">5. Would you like to be included for BBQ food on Friday night at 6pm?</p>
					<label>
						<input type="radio" class="radio" name="bbq" value="y" />Yes
					</label>
					<label>
						<input type="radio" class="radio" name="bbq" value="n" />No
					</label>
				</div>

				<div class="form-row">
					<p class="label">6. Would you like breakfast in the pub on Saturday morning at 11am?</p>
					<p class="small">(Places limited. First come, first served)</p>
					<label>
						<input type="radio" class="radio" name="breakfast" value="y" />Yes
					</label>
					<label>
						<input type="radio" class="radio" name="breakfast" value="n" />No
					</label>
				</div>

				<div class="form-row">
					<label>7. Do you have any special dietary requirements we should tell our caterers?</label>
					<p class="small">(Gluten free, Vegetarian, Allergies etc.)</p>
					<input type="text" class="text" name="allergies"/>
				</div>

				<div class="form-row btn-row">
					<input type="submit" value="RSVP" class="submit btn"/>
				</div>
			</div>
		</form>
	</div>
</div>
