<% layout('../layout') -%>


<div class="content-section">
	<div id="thanks-msg" class="thanks-msg msg">
		<h2>Thank you </h2>
		<p>Thanks for taking the time to complete our form. The god of wedding planning gives blessing to you and your progeny.</p> 
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
</div>

