<% layout('../layout') -%>

<div class="content-section">
	<h2>We love you!</h2>
	<h2 class="thanks-heading">Thank You!</h2>
	<img class="photography thanks-photo" src="img/thankyou.jpg"/>
	<p>Thank you all so much for the amazing cards and gifts and showering of affection.</p>
	<p>We were bowled over by everyones generosity and hard work, especially the things people did without even being asked. Thank you all for being so wonderful.</p>
	<p>If you haven't seen them already you can see our Honeymoon photos on Facebook Chronicling our Western Odyssey.</p>
	<p>
		<a href="https://www.facebook.com/mairead.buchan/media_set?set=a.10152481338896550.1073741827.556341549&type=3">HoneyRoadMoonTrip</a>
	</p>
	
	
	
</div>