<% layout('../layout') -%>

<div class="content-section">
	<h2>Wedding Weekend</h2>
	<p>Thank you to everyone who took such amazing photos. They're all fabulous but here are a few of our favourites that sum up the weekend and all you lovely people who came to share it with us. Thanks again for coming and making us feel so loved. </p>

<!--registry office -->
<img class="photography" src="img/10014824_10152050754696216_5611883646097709418_o.jpg"/>
<img class="photography" src="img/10334389_10152031750866216_4418703305362624727_n.jpg"/>
<!--friday night-->
<img class="photography" src="img/10296038_10152448950706337_7610908500191613703_o.jpg"/>
<img class="photography" src="img/10258192_10152049705937041_310317802529868253_o.jpg"/>
<img class="photography" src="img/1613872_10152057451246338_7844767407558709503_n.jpg"/>
<!--breakfast -->
<img class="photography" src="img/10359018_10152049711102041_1675710381677418231_o.jpg"/>
<img class="photography" src="img/10298296_10152049712577041_2314901140405458619_o.jpg"/>
<img class="photography" src="img/10296164_10152389638170250_9151625272534625664_o.jpg"/>
<img class="photography" src="img/1941616_10152389638630250_2694506044107556626_o.jpg"/>
<img class="photography" src="img/10006021_10152389638055250_2768557504000513638_o.jpg"/>
<!--crowd shots -->
<img class="photography" src="img/10386971_10152389639170250_5641545485244004582_o.jpg"/>
<img class="photography" src="img/10380467_10152389639280250_6763198621776262083_o.jpg"/>
<img class="photography" src="img/10366229_551680341607515_6971758199716727074_n.jpg"/>
<img class="photography" src="img/10301360_10152049720937041_7309095544977954289_n.jpg"/>
<img class="photography" src="img/10272534_10152049721222041_3138146516033043514_o.jpg"/>
<!--ceremony -->
<img class="photography" src="img/10325624_10152057442476338_156245683770833953_n.jpg"/>
<img class="photography" src="img/10306756_551680368274179_2072415118537640190_n.jpg"/>
<img class="photography" src="img/10320498_10152088124297233_5236098328973556755_n.jpg"/>
<img class="photography" src="img/10262215_10152391269571438_9062833066838591820_n.jpg"/>
<img class="photography" src="img/10296038_10152448950701337_274638709640697353_o.jpg"/>
<img class="photography" src="img/10341507_10152088124462233_4553429894467790031_n.jpg"/>
<img class="photography" src="img/10390337_10152391273376438_6262327262161835932_n.jpg"/>
<img class="photography" src="img/10317547_10152505070913974_4765291493640672282_o.jpg"/>
<img class="photography" src="img/10376071_10152088124482233_5751774996447782101_n.jpg"/>
<img class="photography" src="img/10325789_10152391275116438_3882306032566370690_n.jpg"/>
<!-- speeches -->
<img class="photography" src="img/10359003_10152049723827041_5263842224680014478_o.jpg"/>
<img class="photography" src="img/1974343_10152049724087041_811255288634616038_o.jpg"/>
<img class="photography" src="img/10295444_10152049725552041_1277837209968101109_o.jpg"/>
<img class="photography" src="img/10295221_10152452859396337_2416648484855075428_o.jpg"/>
<img class="photography" src="img/10397301_10152049724762041_1471950965903773562_o.jpg"/>
<!--marquee -->
<img class="photography" src="img/10398061_10152088124647233_7152520195947973976_n.jpg"/>
<img class="photography" src="img/10373040_10152389639990250_6233237944566573320_o.jpg"/>
<img class="photography" src="img/10314651_10152383965196049_6675683019382034207_n.jpg"/>
<img class="photography" src="img/1381765_10152038393841017_380124040563932873_n.jpg"/>
<img class="photography" src="img/10334371_10152088124432233_1360175511126830626_n.jpg"/>
<img class="photography" src="img/10256231_10152391282921438_8812391646247175647_n.jpg"/>
<img class="photography" src="img/10296038_10152448950711337_5401838141982346952_o.jpg"/>
<!--decor -->
<img class="photography" src="img/1491576_10152389637675250_2961478870255155420_o.jpg"/>
<img class="photography" src="img/10171676_10152391282006438_8209557475441435049_n.jpg"/>
<img class="photography" src="img/10257982_10152049714567041_9003625237399521921_o.jpg"/>
<img class="photography" src="img/10289852_551680391607510_1214159303657460200_n.jpg"/>
<img class="photography" src="img/10390510_10152383967761049_6619657704994393360_n.jpg"/>
<!--lovely people -->
<img class="photography" src="img/10372098_10152088124602233_1500887179970477610_n.jpg"/>
<img class="photography" src="img/10330473_10152088124287233_8583572113935805083_n.jpg"/>
<img class="photography" src="img/10321804_10152049717662041_8957792884930680355_o.jpg"/>
<img class="photography" src="img/10313591_10152038394236017_8867331326883879348_n.jpg"/>
<img class="photography" src="img/10346472_10152383966651049_5761315252998379437_n.jpg"/>
<img class="photography" src="img/1510370_10152038394501017_5024837829940174849_n.jpg"/>

<img class="photography" src="img/10169382_10152038392931017_5220464983866106909_n.jpg"/>
<img class="photography" src="img/10397206_10152448977881337_4228952935485037333_o.jpg"/>
<img class="photography" src="img/10419470_10152071367571338_4494122114056683723_n.jpg"/>
<!--pinata -->
<img class="photography" src="img/1507079_10152088125067233_5334687646716334704_n.jpg"/>
<img class="photography" src="img/10359007_10152049743832041_610754718765476243_o.jpg"/>
<!--disco -->
<img class="photography" src="img/10386979_10152448974061337_1636208977835049452_o.jpg"/>
<img class="photography" src="img/10255679_10152049707407041_1201680736312640474_o.jpg"/>
<img class="photography" src="img/10264260_10152049751742041_7096359965468750932_o.jpg"/>
<img class="photography" src="img/10313058_10152071356806338_5348254897309130522_n.jpg"/>
<img class="photography" src="img/10351244_10152071359161338_8146717111939886864_n.jpg"/>
<!-- end -->
<img class="photography" src="img/10380475_10152049746117041_9035843516850758376_o.jpg"/>
</div>

<div class="content-section">
	<h2>HoneyRoadMoonTrip</h2>
	<p>You can also live vicariously through our Honeymoon photos. They're a bit rubbish. We're good at other things.</p>
</div>