<% layout('../layout') -%>


<div class="content-section">
	<h2>Stowford manor</h2>
	<p>Unfortunately the B&amp;B rooms on site are already reserved for family. However Bradford-on-Avon is tourist heaven and there are tons of options if you don't want to camp. We picked out a few to sample and here is our best advice. </p>
</div>

<div class="content-section">
	<h2>Useful locations</h2>
	<div class="map-canvas" id="sleeping-map-canvas"></div>
</div>

<div class="content-section">
	<h2>Hotels</h2>

	<p><a href="http://www.oldmanorhotel.com">The Old Manor hotel</a> - You might find the rooms a little random but the interior is lovely and so are the owners.</p>

	<p><a href="http://www.bathlodgecastle.co.uk">Bath Lodge Castle</a> - Posh Hotel for those of you who don't want to be slumming it.</p>

	<p>Wooley grange - We thought this place was over-priced corporate blandsville. We're not even going to give you the URL, that's how much we dislike it. Avoid.</p>

</div>

<div class="content-section">
	<h2>B&amp;Bs</h2>

		<p><a href="http://www.thegranarybedandbreakfastbath.co.uk">The Granary</a> - Fancy B&B.</p>

		<p><a href="http://www.homefarm-guesthouse.co.uk">Home Farm Guest House</a> - stay here at your peril. It's super close to the wedding site but it's like an episode of the League of Gentlemen.</p>

</div>

<div class="content-section">
	<h2>Pubs with accommodation</h2>

	<p><a href="http://www.georgeinnsp.co.uk/home">The George Inn</a> - Nice looking pub with rooms.</p>

</div>
