<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" >
<meta name="viewport" content="width=device-width">

<title><%= title %></title>
<!-- CSS -->
<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" >

</head>
<body>
  <!-- navigation partial --> 

    <nav>
      <%-partial('navigation')%>
    </nav>
    <header>
      <%-partial('header')%>
    </header>
    <section>
      <p>Sorry page not found.</p>
    </section>
    <footer>
      <%-partial('footer')%>
    </footer>

</body>
</html>