<% layout('layout') -%>

<div class="content-section">
  <div id="thanks-msg" class="thanks-msg msg">
    <h2>Sorry</h2>
    <p>Page not found</p> 
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
   <br>
</div>