<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" >
 <meta name="viewport" content="width=device-width, initial-scale=1">

<title><%= title %></title>
<!-- CSS -->
<link rel="stylesheet" href="/css/application.css" type="text/css" media="screen" >

</head>
<body>
  <!-- navigation partial --> 
  <nav class="navigation">
    <%-partial('navigation')%>
  </nav>
  <div class="main-content">
    <div class="content-shim">
      <div class="content-inner">
        <%-body -%>
      </div>
    </div>
  </div>
  <%-partial('footer')%>
</body>
</html>