<div class="nav-shim">
	<ul>
		<li>
			<a href="/">Invitation</a>
		</li>
		<li>
			<a href="/instructions">Instructions</a>
		</li>
		<li>
			<a href="/food-and-drink">Food &amp; drink</a>
		</li>
		<li>
			<a href="/accommodation">Accommodation</a>
		</li>
		<li>
			<a href="/help-us">We need your help</a>
		</li>
		<li>
			<a href="/rsvp">Please RSVP</a>
		</li>
	</ul>
</div>