<div class="secondary-shim nav-shim">
	<ul>
		<li class="<%= navtitle === 'weloveyou' ? 'active' : '' %>">
			<a href="/weloveyou">We love you</a>
		</li>
		<li class="<%= navtitle === 'thankyous' ? 'active' : '' %>">
			<a href="/thankyous">Thank yous</a>
		</li>
		<li class="<%= navtitle === 'photography' ? 'active' : '' %>">
			<a href="/photos">Photos</a>
		</li>
	</ul>
</div>